body{
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236cade1' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
 font-size: 18px;
}
p{
    font-size: 17px
}
.header{
    background-color: white;

}
.contact-btn{
    background-color: #6688c1
}
.white-text{
    color: white;
}
.pic-size{
    margin-top: -1rem;
    height: 250px;
}
.pic-size-small{
    margin-top: -1rem;
    height: 100px;
}
.mobile-pic{
    height: 100px;
    width: 160px;
    margin-bottom: 4rem;
    margin-left: -1.5rem;
}
.uk-navbar-nav{
    height: 80px;
}
.mobile-pic-with-scroll{
    height: 100px;
}
.nav-color{
    background-color: white;
}
.person-pic{
    height: 250px;
}
.text{
    margin-top: -4rem;
}
.Card:hover{
    color: white;
    background-color: #6de0b0;
}

.standard-serv-card:hover{
opacity: .6;
}
.services{
    height: auto;
    margin-top: -1rem;
    background-color: #6de0b0; 
}
.services-header{
    margin-top: -8rem;
}
.services-contanier{
    margin-top: -4rem;
}
.shift-up-header{
    margin-top: -9rem;
}
.card-margin-top{
    margin-top: 4rem;
}
.show-less{
    display: none;
    
}
.display-no{
    display: none; 
}
header {
    margin-top: 1rem;
    position: relative;
    height: 230px;
    background-image: linear-gradient(#6688c1, #80c2e9);
  }
  .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    
  }
  h1 {
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
  }
  
  header h1 {
    color: white;
  }
  
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4vw;
  }
  .section{
    
      background-color:white;
      -webkit-box-shadow: -4px 119px 197px -157px rgba(102,102,102,0.63);
      -moz-box-shadow: -4px 119px 197px -157px rgba(102,102,102,0.63);
      box-shadow: -4px 119px 197px -157px rgba(102,102,102,0.63);
  }
  .section-quick{
      margin-top: 3rem;

  }
  .quick{
      margin-top: 3rem;
      margin-bottom: 3rem;
      background-color: #ceffe4;
      -webkit-box-shadow: 2px 29px 73px -9px rgba(102,102,102,0.63);
      -moz-box-shadow: 2px 29px 73px -9px rgba(102,102,102,0.63);
      box-shadow: 2px 29px 73px -9px rgba(102,102,102,0.63);
  }

.list-background{
   margin-top: -3rem;
}
.list-p{
    margin-top: -4rem;
}
.second-quick-background{
    background-color: white;
      margin-bottom: 2rem;
}
.phone{
font-size: 15px;
}
.call-icon{
    font-size: 32px; 
    transform: rotate(20deg);
}
.more-info{
    background-color: #6de0b0
}
.info-list{
    margin-top: -4rem;
}
.email{
    margin-top: -2.2rem;
    margin-left: 2rem;
}
.mailto{
    margin-top: -.5rem;
}